.nav-link.active {
    font-weight: 600;
    border-bottom: 2px solid white;
}

.text-phpue-blue {
  color: #3B82F6;
}

.bg-phpue-blue {
  background-color: #3B82F6;
}
.border-phpue-blue {
  border-color: #3B82F6;
}
.hover\:bg-phpue-blue:hover {
  background-color: #3B82F6;
}

.hover\:text-white:hover  {
    color: #ffffff;
}


.from-phpue-blue { --tw-gradient-from: #3B82F6; --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(59, 130, 246, 0)); }
.to-phpue-blue { --tw-gradient-to: #3B82F6; }


.via-phpue-blue { --tw-gradient-stops: var(--tw-gradient-from), #3B82F6, var(--tw-gradient-to, rgba(59, 130, 246, 0)); }